/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

html, body {
    height: 100%;
    padding-top:25px;
}

#map_populate {
    min-height: 100%;
    position: initial;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: white;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0,0,0,0.00)),color-stop( 100%, rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

#saferidenavbar {
    background-color: #4682B4;
}

.white {
    color: white
}

.white-background {
    background-color: white
}

#login-body {
    padding-top: 90px;
    background:#F7F7F7;
    color:#666666;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}

#loginpage-title {
    text-align: center;
    font-size: 5em;
    color: #4682B4;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

.login-title {
    text-align: center
}

#login-body {
    width: 100%;
    background-image: url("../login-background-min.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.panel {
    border-radius: 5px;
}
label {
    font-weight: 300;
}
.panel-login {
    border: none;
    -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
}
.panel-login .checkbox input[type=checkbox]{
    margin-left: 0px;
}
.panel-login .checkbox label {
    padding-left: 25px;
    font-weight: 300;
    display: inline-block;
    position: relative;
}
.panel-login .checkbox {
    padding-left: 20px;
}
.panel-login .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: 0px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.panel-login .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: 0px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.panel-login .checkbox input[type="checkbox"] {
    opacity: 0;
}
.panel-login .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.panel-login .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.panel-login>.panel-heading .tabs{
    padding: 0;
}
.panel-login h2{
    font-size: 20px;
    font-weight: 300;
    margin: 30px;
}
.panel-login>.panel-heading {
    color: #848c9d;
    background-color: #e8e9ec;
    border-color: #fff;
    text-align:center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 0px;
    padding: 0px 15px;
}
.panel-login .form-group {
    padding: 0 30px;
}
.panel-login>.panel-heading .login {
    padding: 20px 30px;
    border-bottom-leftt-radius: 5px;
}
    .panel-login > .panel-heading .register {
        padding: 20px 30px;
        background: #3f48cc;
        border-bottom-right-radius: 5px;
    }
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: 300;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a#register-form-link {
    color: #fff;
    width: 100%;
    text-align: right;
}
.panel-login>.panel-heading a#login-form-link {
    width: 100%;
    text-align: left;
}

/*.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 0;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 0px;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}*/
.btn-login {
    background-color: #E8E9EC;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #4682B4;
    }
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #E8E9EC;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #4682B4;
    }
.form-group {
    text-align: center
}

.form-control {
    display: inline-block
}

#orregisterbutton {
    margin-top: 10px;
}

ul, li > .validationSummary {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.validationSummary {
    text-align: center
}

#passwordForget {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.limit-width {
    max-width: 280px;
}

.no-margin {
    margin: 0;
}

.customized-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #6a7989;
}
.centered-text {
    text-align: center;
}