@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "../Shared/_LoginLayout.cshtml";
}
<div class="customized-font text-danger validationSummary">
    <p>
        Please check your email to reset your password.
    </p>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @Html.ActionLink("OR LOGIN", "Login", null, new { @class = "form-control btn btn-login limit-width" })
        </div>
    </div>
</div>
	
