@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "../Shared/_LoginLayout.cshtml";
}
<div class="form-group">
    <span id="passwordForget">Your password has been reset</span>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @Html.ActionLink("OR LOGIN", "Login", null, new { @class = "form-control btn btn-login" })
        </div>
    </div>
</div>
