<?xml version="1.0"?>

<configuration>
  <connnectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=tcp:saferide.database.windows.net,1433;Initial Catalog=saferide-database;Persist Security Info=False;User ID=Atom;Password=Rslmyzra2296;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connnectionStrings>
</configuration>