@model IEnumerable<Saferide.Web.Models.Poco.Incident>
@{
    ViewBag.Title = "Home Page";
}

<div id="map_populate">
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAyzSsHSecQ8cMLqQb4rACLe2OMjV4wwLQ" type="text/javascript"></script>
<script>
    var mapcode, markerLatLng, title, infoWindow, map, lnt, mapOptions;
    mapcode = new google.maps.Geocoder();
    lnt = new google.maps.LatLng(50.471231, 3.941741);
    mapOptions = {
        zoom: 13,
        center: lnt,
        diagId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById('map_populate'), mapOptions);
    @foreach (var item in Model)
    {
        <text>
            markerLatLng = new google.maps.LatLng(@(item.Latitude), @(item.Longitude));
            title = '@(item.IncidentType)';
            var marker@(item.IncidentId) = new google.maps.Marker({
                position: markerLatLng,
                title: title,
                map:map,
                draggable: false
            });
            (function(marker@(item.IncidentId)) {
                google.maps.event.addListener(marker@(item.IncidentId), 'click', function() {
                infoWindow = new google.maps.InfoWindow({
                content: title
                });
                infoWindow.open(map, marker@(item.IncidentId));
                });
            })(marker@(item.IncidentId));
        </text>
    }
</script>
