@model Saferide.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="centered-text">
    <h4 class="customized-font">Change your account settings</h4>
    <p class="text-success customized-font">@ViewBag.StatusMessage</p>
            @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword", null, new {@class = "form-control btn btn-login limit-width"})
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
</div>
